@tailwind base;

@tailwind components;

@tailwind utilities;

#nav-profile {
    opacity: 0;
    transition: ease-out, transform 250ms;
}

#nav-profile:hover {
    opacity: 100;
    transform: scale(1.1);
    transition: ease-in, transform 250ms;
}